.el-container{
    height: 100%;
}
.el-header{
    background-color: #373d41;
    display:flex ;
    justify-content: space-between;
    padding-left: 0;
    align-items: center;
    color: #fff;
    font-size: 20px;
}
.el-header>div{
    display: flex;
    align-items: center;
}
.el-header>div img{
    width: 40px;
    height: 40px;
}
.el-header>div span{
    margin-left: 15px;
}
.el-aside{
    background-color: #333744;
}
.el-main{
    background-color: #EAEDF1;
}




