<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oral.mapper.DepartmentsMapper">

    <resultMap id="BaseResultMap" type="com.oral.bean.Departments">
            <id property="departmentsid" column="departmentsid" jdbcType="INTEGER"/>
            <result property="dename" column="dename" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        departmentsid,dename
    </sql>
</mapper>
