<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oral.mapper.PatientsMapper">

    <resultMap id="BaseResultMap" type="com.oral.bean.Patients">
            <id property="patientsid" column="patientsid" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="age" column="age" jdbcType="INTEGER"/>
            <result property="gender" column="gender" jdbcType="CHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="atid" column="atid" jdbcType="INTEGER"/>
            <result property="doctorid" column="doctorid" jdbcType="INTEGER"/>
            <result property="petient" column="petient" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        patientsid,name,age,
        gender,phone,atid,
        doctorid,petient
    </sql>
    <select id="arrange" resultType="com.oral.bean.Doctor" parameterType="java.lang.String">
        select d.* from doctor d where doctorid in(
            select doctorid from appointmenttime
            WHERE DATE_FORMAT(datetime,'%Y-%m-%d') = DATE_FORMAT(#{clinictime},'%Y-%m-%d') and appstate = 0)
    </select>
</mapper>
